<!DOCTYPE html>
<html ng-app="NetSI">
<head>
    <meta charset="UTF-8">
    <title>NetSI</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="imports/css/style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="imports/js/modules.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>

</head>

<!-- Controler para pesquisa da serie -->
<body ng-controller="NetSIController">
    <div class = "jumbotron">
        <h2>{{app}}</h2>

        <input class="form-control" type="search" ng-model="movie" placeholder="Insira nome da série"/>
        <button class = "btn btn-primary btn-block" ng-click="searchMovie(movie)" ng-disabled = "!movie">Pesquisar</button>

    </div>

    <!-- Visualizar series e filmes do perfil-->
    <h3>Perfil</h3>
    <div>
        <table class = "table table-striped">
        <thead>
            <tr>
                <th>Título</th>
               
                <th>Poster</th>
                <th>Remover</th>
                <th>Info</th>
            </tr>

        </thead>

        <tbody>
            <tr ng-class="{done: movie.done}" ng-repeat = "collection in myMovies">
                <td>{{collection.Title}}<div><span>{{collection.Year}}</span></div></td>
                
                <td><img ng-src="{{collection.Poster}}" height="150px" width="100px"></td>
                <td><button class="close" ng-click = "removeMoviePerfil(collection)">&times;</button></td>
                <td><button class="btn btn-primary" ng-click="addInfo(collection)" ng-click="viewInfo(collection)">+</button></td>
                
                {{info}}
                {{notas}}
            </tr>
        </tbody>
    </table>    
    </div>

    <!-- Bloco de informações sobre os movies--> 
    <div ng-model="infos">
        <h3>Info</h3>
        <table class = "table table-striped">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Ano</th>
                    <th>Poster</th>
                    <th>Sinopse</th>
                    <th>Rated</th>
                    <th>Média</th>
                    <th>Sua nota    </th>
                    <th></th>
                    <th>Ultimo ep</th>
                    <th></th>
                    <th>Remover</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="infos in info">
                    <td>{{infos.Title}}</td>
                    <td>{{infos.Year}}</td>
                    <td><img ng-src="{{infos.Poster}}" height="150px" width="100px"></td>
                    <td>{{infos.Plot}}</td>
                    <td>{{infos.Rated}}</td>
                    <td>{{infos.imdbRating}}</td>
                    <td><input class="form-control" type="text" ng-model="nota" ng-click="addNotas(nota)"/></td>
                    <td><button class = "btn btn-block">ok</button></td>
                    <td><input class="form-control" type="text" ng-model="ep" ng-click="addEp(ep)"/></td>
                    <td><button class = "btn btn-block">ok</button></td>
                    <td><button class="close" ng-click = "removeInfo(infos)">&times;</button></td>

                </tr>
            </tbody>
        </table>
              
    </div>

    <h3>WatchList</h3>

    <div>
        <table class = "table table-striped">
        <thead>
            <tr>
                <th>Título</th>
                <th>Year</th>
                <th>Poster</th>
            </tr>

        </thead>

        <tbody>
            <tr ng-class="{done: movie.done}" ng-model = "list" ng-repeat = "list in watchlist">
                <td>{{list.Title}}</td>
                <td>{{list.Year}}</td>
                <td><img ng-src="{{list.Poster}}" height="150px" width="100px"></td>
                <td><button class="btn" ng-click="viewInfo(list)"></button>Info</td>
                <td><button class="close" ng-click = "removeMovieWL(list)">&times;</button></td>


            </tr>
        </tbody>
    </table>    

    </div>

    <!-- Visualizar series e filmes na pesquisa. Pode adicionar ao perfil e à watchlist-->
    <div>
            <table class = "table table-striped"> 

                <thead>
                    
                    <tr>

                        <th>Título</th>
                        <th>Ano</th>
                        <th>Poster</th>
                        <th>Add no Perfil</th>
                        <th>Add na Watchlist</th>
                    </tr>
                </thead>

                <tbody>
                    <h3>Resultado de pesquisa</h3>
                    <tr ng-repeat = "movie in movies">
                        
                        <td>{{movie.Title}}</td>
                        <td>{{movie.Year}}</td> 
                        <td><img ng-src="{{movie.Poster}}" height="200px" width="150px"/></td>
                        <td><button class = "btn" ng-click = "addMoviePerfil(movie)">+</button></td>
                        <td><button class = "btn" ng-click = "addMovieWatchlist(movie)">+</button></td>
                    </tr>
                </tbody>
        </div>     
</body>
</html>