<!DOCTYPE html>
<html ng-app="NetSI">
<head>
    <meta charset="UTF-8">
    <title>NetSI</title>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="imports/css/style.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="imports/js/modules.js"></script>
</head>

<body ng-controller="NetSIController">
    <div class = "jumbotron">
        <h2>{{app}}</h2>

        <input class="form-control" type="search" ng-model="movie" placeholder="Insira nome da série"/>
        <button class = "btn btn-primary btn-block" ng-click="searchMovie(movie)" ng-disabled = "!movie">Pesquisar</button>

    </div>

    <h3>Perfil</h3>
    <div ng-model = "colecao" ng-click = "viewPerfil()" ng-repeat = "colecao in myMovies">
        <img ng-src = "{{colecao.Poster}}">
        <h4>{{colecao.Title}}</h4>
        <h3>{{colecao.Year}}</h3>
    </div>>

    <h3>WatchList</h3>>

    <div>
            <table class = "table table-striped"> 
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Ano</th>
                        <th>Poster</th>
                        <th>Add no Perfil</th>
                        <th>Add na Watchlist</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat = "movie in movies">
                        <h3>Resultado de pesquisa</h3>
                        <td>{{movie.Title}}</td>
                        <td>{{movie.Year}}</td> 
                        <td><img ng-src="{{movie.Poster}}" height="200px" width="150px"/></td>
                        <td><button class = "btn" ng-click = "addMoviePerfil(movie)">+</button>></td>
                        <td><button class = "btn" ng-click = "addMovieWatchlist(movie)">+</button>></td>
                    </tr>
                </tbody>
        </div>     
</body>
</html>