.jumbotron {
    width: 1365px;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.from-control {
    margin-bottom: 5px;
}

.image-poster {
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px; 

}

.button-perfil {
    width: 40px;
    height: 40px;
    color: white;
    background-color: lightskyblue;

}